/*
* Album Index and show pages
*/
.thumbnail-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

$thumbnail_dimensions: 205px;

.thumbnail-list li{
    position: relative; //for image hearts
    flex-basis: $thumbnail_dimensions;
    margin-bottom: 25px;
}
.thumbnail-list .album-title{
    min-height: 2em;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
}
.thumbnail-list .image-container img{
    height: $thumbnail_dimensions;
    width: $thumbnail_dimensions;
    border-radius: 10px;
    object-fit: cover;
}