body{
    font-family: sans-serif;
}

a:link{
    text-decoration: none;
}
a:hover, a:target{
    text-decoration: underline;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.thumbnail-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}

.thumbnail-list li{
    flex-basis: 205px;
    margin-bottom: 25px;
}
.thumbnail-list .album-title{
    min-height: 2em;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
}
.thumbnail-list .image-container{
    height: 205px;
    width: 205px;
    border-radius: 10px;
    overflow: hidden;
    background-color: dimgray;
    display: flex;
    align-items: center;
}