/*
* Base
*/

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

a:link{
    text-decoration: none;
}
a:hover, a:target{
    text-decoration: underline;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    padding-bottom: 5rem;
}
.footer{
    padding-bottom: 2rem;
}



/*
* Album Index and show pages
*/
.thumbnail-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail-list li{
    flex-basis: 205px;
    margin-bottom: 25px;
}
.thumbnail-list .album-title{
    min-height: 2em;
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
}
.thumbnail-list .image-container{
    height: 205px;
    width: 205px;
    border-radius: 10px;
    overflow: hidden;
    background-color: dimgray;
    display: flex;
    align-items: center;
}

/*Image show pages*/
.image-show-thumbnail-container{
    display: flex;
    justify-content: center;
}
.image-show-link-container{
    font-size: large;
    text-align: center;
    padding: 1em 0;
}
.image-show-album-list li{
    margin-bottom: 0.5em;
}

.subsection-title{
    margin-bottom: 7px;
}