{{#partial "body"}}
    <ul class="album-list thumbnail-list">
        {{#each albums}}
            <li>
                <h3><a href="{{urlForAlbum this}}">{{this.name}}</a></h3>
                <a href="{{urlForAlbum this}}"><img src="{{urlForImage this.coverImage}}" alt=""/></a>
            </li>
        {{/each}}
    </ul>
{{/partial}}

{{> layouts/main.hbs }}

