{{#partial "body"}}
    <h2>{{album.name}}</h2>
    <ul class="thumbnail-list">
        {{#each images}}
            <li class="image-container">
                <a href="{{urlForAlbumImage album this}}"><img src="{{urlForThumbnailMini this.thumbnail}}" alt=""/></a>
            </li>
        {{/each}}
    </ul>
{{/partial}}
{{#partial "title"}}
    {{pageTitle album.name}}
{{/partial}}

{{> layouts/main.hbs }}

