{{#partial "body"}}
    <ul class="album-list thumbnail-list">
        {{#each albums}}
            <li>
                <a href="{{urlForAlbum this}}" class="image-container"><img src="{{urlForThumbnail this.coverImage.thumbnail}}" alt=""/></a>
                <h3 class="album-title"><a href="{{urlForAlbum this}}">{{this.name}}</a></h3>
            </li>
        {{/each}}
    </ul>
{{/partial}}

{{> layouts/main.hbs }}

